<!doctype html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Inventory</title>
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1">
	<link href="/css/all.css" rel="stylesheet">
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.pjax.js"></script>
	<script type="text/javascript" src="/javascripts/inventory.js"></script>
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="siteWrapper">

<nav id="nav" role="navigation" class="nav outer">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a class="pjax" href="/inventories">Inventories</a></li>
		<li><a class="pjax" href="/profile">Profile</a></li>
		<li><a id="login" class="pjax" href="/login">Login</a></li>
	</ul>
<!--/nav-->
</nav>

<div id="main" role="main">

<% content %>

<!--/main-->
</div>

<footer id="footer" class="footer">
	<div class="inner">
		<a href="#" class="button up"><span class="ss-up"></span>Back to top</a>
	</div>
<!--/footer-->
</footer>

<!--/siteWrapper-->
</div>

</body>
</html>
